<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmobile">

    <application
        android:name=".features.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestMobile">
        <activity
            android:name=".features.categories.CategoryActivity"
            android:label="@string/title_category"></activity>
        <activity
            android:name=".features.cars.CarActivity"
            android:label="@string/title_car" />
        <activity
            android:name=".features.cars.MainActivity"
            android:label="@string/title_cars"
            android:theme="@style/Theme.TestMobile.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>